<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quiz12Okt_4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8977E5C31F8F164F00EAB21F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8977E5D71F8F164F00EAB21F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8977E5E21F8F164F00EAB21F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
